# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore logs directory
logs/

# Ignore build output directory
build/

# Ignore dependencies lock file
package-lock.json

# Ignore editor specific files
.vscode/
.idea/
